<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="page-header">

        <div class="col-md-3 col-sm-4">

          <div class="text-center">
            <%= image_tag @user.avatar ,class:"img-responsive img-rounded" if @user.avatar?%>
             <%= image_tag "http://via.placeholder.com/350x350", class: "img-responsive img-rounded"  unless @user.avatar?%>
          </div>
        </div>

        <div class="col-md-9 col-sm-8">
          <% if @user.email == current_user.email %>
            <%= link_to '<i class="glyphicon glyphicon-pencil" aria-hidden="true" style="color:gray"></i> 修改'.html_safe, edit_user_path(@user), class: "navbar-right btn btn-default mark" %>
          <% end %>
          <h2><%= @user.name %></h2>
          <p><strong><%= @user.email %></strong></p>
          <div><%= simple_format @user.intro %></div>

        </div>
        <div class="clearfix"></div>

      </div>

      <br>

      <div class ="panel panel-default">
        <div class ="panel-heading">
           <h3 class="panel-title"><%= @commented_restaurants.count %> 間已評論餐廳</h3>
        </div>
        <div class="panel-body">
          <% @commented_restaurants.each do |restaurant| %>
            <div class="line-disappear my-restaurant">
              <%= link_to restaurant_path(restaurant) do %>
                <div class="my-restaurant">
                  <div>
                    <%= image_tag restaurant.image, class:"img-responsive img-rounded" if restaurant.image? %>
                      <%= image_tag "http://via.placeholder.com/100x100", class:"img-responsive img-rounded" unless restaurant.image? %>
                  </div>
                  <h5><%= restaurant.name %></h5>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>