     <% @restaurants.each do |restaurant| %>
      <div class="col-sm-6 col-md-4">
        <%= link_to restaurant_path(restaurant) do %>
          <div class="restaurant-item">
            <div>
            <%= image_tag restaurant.image, class: "img-responsive center-block img-rounded" if restaurant.image?%>
            <%= image_tag "http://via.placeholder.com/338x180", class: "img-responsive center-block img-rounded"  unless restaurant.image?%> 
            </div>
            <div class="caption">
              <h3 class="title"><%= restaurant.name %>
                <small class="navbar-right tag"><span class="label label-warning"><%= restaurant.category.name %></span></small></h3>
              <p style="color:black"><%= truncate(restaurant.description, length: 80) %></p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
      
    <div class="text-center">
      <%= paginate @restaurants %>
    </div>
      