<div class="container">
   <h1 class="text-center">餐廳後台</h1>
   <div class="row">
     <div class="col-md-12">
 
       <div>
         <%= link_to '<i class="glyphicon glyphicon-plus" aria-hidden="true"></i> New Restaurant'.html_safe, new_admin_restaurant_path, class: "btn btn-success center-block" %>
       </div>
       <br>
    </div>
  </div>

      <section>
        <div class="row">
         <% @restaurants.each do |restaurant| %>
          <div class="col-xs-12 col-sm-6 col-md-4 ">
            <div class="photo">
              <%= link_to admin_restaurant_path(restaurant) do %>
                <div>
                  <%= image_tag restaurant.image, class: ' img-rounded' , width:300 ,height:200%>
                </div>
                <h3 style="color:slategray" ><%= restaurant.name %></h3>
                <p><%= truncate restaurant.description , length:140 %></p>
              <% end %>
              <div>
                <button type="button" class="btn btn-default"><%= link_to '<i class="glyphicon glyphicon-pencil" aria-hidden="true" style="color:gray"></i> 編輯'.html_safe, edit_admin_restaurant_path(restaurant) %></button>
                <button type="button" class="btn btn-default"><%= link_to '<i class="glyphicon glyphicon-trash" aria-hidden="true" style="color:gray" ></i> 刪除'.html_safe, admin_restaurant_path(restaurant), method: :delete, data: {confirm: "你確定要刪除嗎？"} %></button>
              </div>
            </div>
          </div>
         <% end %>
        </div>
      </section>

       <div class="text-center">
        <%= paginate @restaurants %>
      </div>
   </div>
 </div>
