<div class="container">
   <div class="row">
    <div class="col-md-12">
      <h1><%= @restaurant.name %></h1>
      <h4><span class="label label-warning"><%= @restaurant.category.name %></span></h4>
    </div>

    <div class="col-md-4">
       <%= image_tag @restaurant.image, class: "img-responsive center-block" if @restaurant.image?%>
      <%= image_tag "http://via.placeholder.com/360x240", class: "img-responsive center-block img-rounded"  unless @restaurant.image?%> 
       <br>
       <div class="well">
         <dl class="dl-horizontal">
           <dt>Opening Hour:</dt> <dd> <%= @restaurant.opening_hours %></dd>
           <dt>Tel:</dt> <dd><%= @restaurant.tel %></dd>
           <dt>Address:</dt> <dd><%= @restaurant.address %></dd>
         </dl>
       </div>
     </div>
     <div class="col-md-8">
      <blockquote>
       <%= simple_format @restaurant.description %>
     </blockquote>
      <hr>
      <span class="badge" style=" background-color: lightpink"><i class="glyphicon glyphicon-heart" aria-hidden="true"></i> <%= @restaurant.favorites_count %></span>
      <%= render partial: "shared/favorite", locals: {restaurant: @restaurant} %>
      <%= render partial: "shared/like", locals: {restaurant: @restaurant} %>
      <%= link_to '<i class="glyphicon glyphicon-info-sign" aria-hidden="true"></i> Dashboard'.html_safe, dashboard_restaurant_path(@restaurant), class: "btn btn-default btn-sm" %>
     </div>

     <div class="clearfix"></div>

     <hr>

    <% @restaurant.comments.each do |comment| %>
      <div class="media">
        <div class="media-left">
          <%= image_tag "http://via.placeholder.com/64x64" %>
        </div>
        <div class="media-body">
          <h4 class="media-heading"><%= link_to comment.user.name, user_path(comment.user) %>
            <% if current_user.admin? %>
              <%= link_to '<i class="glyphicon glyphicon-trash" aria-hidden="true"></i> 刪除'.html_safe, restaurant_comment_path(@restaurant, comment), method: :delete ,class: "navbar-right btn btn-default btn-sm mark" %>
            <% end %>
          </h4>         
          <p><%= simple_format comment.content %></p>
          <p class="text-muted">
            <em>- <%= time_ago_in_words(comment.created_at) %> ago</em>
          </p>
        </div>
      </div>
     <hr>
    <% end %>


    <%= form_for [@restaurant, @comment] do |f| %>
      <div class="form-group">
        <%= f.text_area :content, placeholder: "留個言吧", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.submit class: "btn btn-primary" %>
        <%= f.button "Cancel", type: :reset, class: "btn btn-default" %>
      </div>
    <% end %>


   </div>
 </div>

  <nav aria-label>
    <ul class="pager">
      <li><%= link_to 'Back to index', restaurants_path %></li>
    </ul>
  </nav>

